//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 06 16:36:59 2022
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "UD" LOCATE = SITE "L14" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "reset" LOCATE = SITE "L13" LEVEL 1;
SCHEMATIC END;

