//! **************************************************************************
// Written by: Map P.20131013 on Thu Sep 08 15:33:06 2022
//! **************************************************************************

SCHEMATIC START;
COMP "q" LOCATE = SITE "F12" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "reset" LOCATE = SITE "L13" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

